header .logo{
	height: 35px;
	width: 100%;
}


figure.hero {
 margin: 0;
 position: relative;
}
figure.hero img {
 width: 100%;
}
figure.hero figcaption {
 position: absolute;
 bottom: 0;
 width: 100%;
}



header .logo {
height: 3rem;
}



.top-bar{
	background: #d0e1ff;
}
footer{
	padding: 3rem 0;
	border-top: 5px solid #000;
	background-color:#d0e1ff;
}

footer li{
	list-style: none;
}

footer li a{
	text-decoration: none;
}


.top-bar-section li:not(.has-form) a:not(.button){
background-color: #d0e1ff;


}

.top-bar-section li:not(.has-form) a:not(.button):hover{
background-color: #db194b;


}

.top-bar-section li.active:not(.has-form) a:not(.button){
background-color: #db194b;
}

.top-bar-section ul li > a{
color: black;

}