.name img{
	height:35px;
}

.top-bar{
	background: #d0e1ff;
}
footer{
	padding: 3rem 0;
	border-top: 5px solid #000;
	background-color:#d0e1ff;
}

footer li{
	list-style: none;
}

footer li a{
	text-decoration: none;
}